apiVersion: addon.open-cluster-management.io/v1alpha1
kind: ClusterManagementAddOn
metadata:
  name: helloworld
spec:
  addOnMeta:
    displayName: helloworld
    description: "helloworld is an example addon created by go template"
  supportedConfigs:
  - group: addon.open-cluster-management.io
    resource: addondeploymentconfigs
  installStrategy:
    type: Placements
    placements:
      - name: global
        namespace: open-cluster-management
        configs:
          - group: addon.open-cluster-management.io
            resource: addondeploymentconfigs
            name: global
            namespace: open-cluster-management
