name: Go

on:
  workflow_dispatch: {}
  pull_request:
    branches:
      - main
      - release-*

env:
  # Common versions
  GO_VERSION: '1.25'
  GO_REQUIRED_MIN_VERSION: ''

jobs:
  verify:
    name: verify
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: verify
        run: make verify

  verify-deps:
    name: verify-deps
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: verify-deps
        run: make verify-deps

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: build
        run: make build

  unit:
    name: unit
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: unit
        run: make test

  integration:
    name: integration
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: integration
        run: make test-integration

  e2e:
    name: e2e
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: install imagebuilder
        run: go install github.com/openshift/imagebuilder/cmd/imagebuilder@v1.2.3
      - name: addon-examples-image # will build and tag the examples image
        run: imagebuilder --allow-pull -t quay.io/open-cluster-management/addon-examples:latest -t quay.io/ocm/addon-examples:latest -f ./build/Dockerfile.example .
      - name: setup kind
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.11.1
          name: cluster1
      - name: Load image on the nodes of the cluster
        run: |
          kind load docker-image --name=cluster1 quay.io/open-cluster-management/addon-examples:latest
          kind load docker-image --name=cluster1 quay.io/ocm/addon-examples:latest
      - name: Run e2e test
        run: |
          make test-e2e
        env:
          KUBECONFIG: /home/runner/.kube/config

  e2e-csr-token:
    name: e2e-csr-token
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: install imagebuilder
        run: go install github.com/openshift/imagebuilder/cmd/imagebuilder@v1.2.3
      - name: addon-examples-image # will build and tag the examples image
        run: imagebuilder --allow-pull -t quay.io/open-cluster-management/addon-examples:latest -t quay.io/ocm/addon-examples:latest -f ./build/Dockerfile.example .
      - name: setup kind
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.11.1
          name: cluster1
      - name: Load image on the nodes of the cluster
        run: |
          kind load docker-image --name=cluster1 quay.io/open-cluster-management/addon-examples:latest
          kind load docker-image --name=cluster1 quay.io/ocm/addon-examples:latest
      - name: Run e2e token test
        run: |
          make test-e2e-csr-token
        env:
          KUBECONFIG: /home/runner/.kube/config

  e2e-grpc-token:
    name: e2e-grpc-token
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: install imagebuilder
        run: go install github.com/openshift/imagebuilder/cmd/imagebuilder@v1.2.3
      - name: addon-examples-image # will build and tag the examples image
        run: imagebuilder --allow-pull -t quay.io/open-cluster-management/addon-examples:latest -t quay.io/ocm/addon-examples:latest -f ./build/Dockerfile.example .
      - name: setup kind
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.11.1
          name: cluster1
      - name: Load image on the nodes of the cluster
        run: |
          kind load docker-image --name=cluster1 quay.io/open-cluster-management/addon-examples:latest
          kind load docker-image --name=cluster1 quay.io/ocm/addon-examples:latest
      - name: Run e2e token test
        run: |
          make test-e2e-grpc-token
        env:
          KUBECONFIG: /home/runner/.kube/config

  e2e-cloudevents:
    name: e2e-cloudevents
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: install imagebuilder
        run: go install github.com/openshift/imagebuilder/cmd/imagebuilder@v1.2.3
      - name: addon-examples-image # will build and tag the examples image
        run: imagebuilder --allow-pull -t quay.io/open-cluster-management/addon-examples:latest -t quay.io/ocm/addon-examples:latest -f ./build/Dockerfile.example .
      - name: setup kind
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.11.1
          name: cluster1
      - name: Load image on the nodes of the cluster
        run: |
          kind load docker-image --name=cluster1 quay.io/open-cluster-management/addon-examples:latest
          kind load docker-image --name=cluster1 quay.io/ocm/addon-examples:latest
      - name: Run e2e test with cloudevents
        run: |
          make test-e2e-cloudevents
        env:
          KUBECONFIG: /home/runner/.kube/config

  e2e-hosted:
    name: e2e-hosted
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: install imagebuilder
        run: go install github.com/openshift/imagebuilder/cmd/imagebuilder@v1.2.3
      - name: images
        run: make images
      - name: Run hosted mode e2e test
        run: |
          make test-hosted-e2e
